@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@400;800 & family= Open+Sans:wght@400;700 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --navbar:#F8F5FF;
    --botão1:#845EF7;
    --black:#000000;
    --branco:#FFFFFF;
    --borda:#D3D7DB;
    --background-form:#30373E;
    --cinzaclaro:#ADB5BD;
}
header { 
    
   
    width: 99vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar);
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px;
}
.menu_burguerr{
    display: none;
    position: absolute;
    background-color: #FFFFFF;


}
.menu_burguerr::hover{
    display: block;
}
.header_button{
    position: relative;
    padding: 30px;
    cursor: pointer;
    appearance: none;
    border:0;
    background-color: transparent;
 
}


.baner-1{    
    background-image: url("assets/header/Imagem header.png");
    background-position: bottom ;
    object-fit: cover;
    background: cover;
    margin-top: 20px;
    background-size: cover;
    width: 88vw;
    Height: 50vh;
    border-radius: 4%;
    position: relative;
    left:5%
}
.baner-1 h1{
    font-family:" Montserrat";
    font-weight: 700;
    width: 30vw;
    Height:258px;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 8%;
}
.baner-1 p{
    font-family: "Open Sans";
    font-weight:700;
    font-size: 20px;
    width: 62vw;  
    Height:20px;
    position: relative;
    left: 8%;
    bottom: 37%;

   
}
.baner-button{
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid var(--botão1);
    background-color: var(--botão1);
    border-radius: 10px;
    height: 5vh;
    width: 50vw; 
    position: relative;
    top: 3vh;
    left: 5%;
    cursor: pointer;
}
.baner-button span{
    color: var(--branco);
    font-family:" Montserrat";
    font-weight: 700;
    font-size: 5vw;
}
.titulos{
    padding-top: 40px;
    padding-left: 5%;
    font-family:" Montserrat";
    font-weight: 700;
    font-size: 40px ;
 
}
.paragrafos{
    padding-top: 30px;
    padding-left: 20px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    width: 93vw;
   
 
    
}
.paragrafos-2{
    
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    width: 75vw;
    position: relative;
    top: -10%;
    left: -9%;
   

}
.baner-2-1{
  
    position: relative;
    left: 3%;
    top: 5vh;
    width: 92vw;
    border-radius: 8vh;
   
}
.baner-2-h2{
    position: absolute;
    top:390vw;
    left: 3%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 6vw;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center;
    border-radius: 8%;
    border: var(--borda) 2px solid;
    background-color: var(--branco);
    width: 92vw;
    height: 30vh;
    

}

.botão{
    appearance: none;
    background-color: transparent;
    border: solid 2px var(--botão1);
    border-radius: 8px;
    padding-left: 3px;
    position: relative;
    top: 15vh;
    left: 5vh;
    height: 5vh;
    width: 62vw;
   
}
.baner-2 span{
   color: var(--botão1);
   font-family:" Montserrat";
   font-weight: 700;
   font-size: 20px;
}
.dado{
    position: relative;
    top: 18vh;
    left:4%;
    border: var(--borda) 2px solid;
    border-radius: 40px;
    background-color: var(--branco);
    height: 35vh;
    width:90vw;
    padding-top: 30px;
    padding-left: 40px; 
    padding-block: 30px;
    margin-top: 20px;

}
.dado_1{
    height: 40px;
    width: 40px;
    position: relative;
    top: -20px;
    left: -5vw;
}
.titulo-2{
    
    width: 70vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    position: relative;
    left: -20px;
    top: -20px

}
.titulos__{
    
   padding-left: 5%;
   font-family:" Montserrat";
   font-weight: 700;
   font-size: 40px ;
   margin-top: -25%;
}
.baner-3{
    position: relative;
    top: 30vh;
    

}
.img{
    width: 90vw;
    height: 15vh;
    position: relative;
    left: -20px;
    margin: 30px;

}
.titulo_2{
    width: 70vw;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: -10px

}
.Vantagens{
   margin-top: 280px;
   margin-left: -2%;
   
}
.Mais{
    appearance: none;
    background-color:var(--botão1);
    border: solid 2px var(--botão1);
    border-radius: 10px;
    position: relative;
    top: 10vh;
    left: 2vh;
    height: 5vh;
    width: 45vw;
}
.Mais_1{
    font-family:" Montserrat";
    font-weight: 700;
    color: var(--branco);
    font-size: 25px;

}
.Contrate{
    appearance: none;
    background-color: transparent;
    border: solid 2px var(--botão1);
    border-radius: 10px;
    padding-left: -5px;
    position: relative;
    top: 10vh;
    left: 2vh;
    height: 5vh;
    width:  45vw;
   

}
.nos{
   color: var(--botão1);
   font-family:" Montserrat";
   font-weight: 700;
   font-size: 22px;
}
.icones{
    position: relative;
    top: 10%;
    border: var(--borda)solid 2px ;
    width: 90vw;
    left: 15px;
    height: 55vh;
    border-radius: 30px;
    padding-left: 5vh;
    padding-top: 5vh;
    display: flex;
    margin-top: 5%;
   

}
.globo{
    width: 15vw;
    height: 7vh;
    position: relative;
   
}
.servicos{
    position: relative;
    top: 10%;
}
.img_2{
    position: relative;
    top: 10px;
    
}
.img_2-1{
    
    width: 88vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    left: 10px;
    top: 10px;
}
.titulo-3{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 25px;
    color: var(--botão1);
    margin-top: 15px;
    margin-left: 30px;
    
}
.loren{
   position: relative;
   left: 35vh;
   top: -32px;
   appearance: none;
   background-color: transparent;
   border: transparent;
   width: 50px;
   height: 30px;

}
.paragrafos__{
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    width: 93vw;
}
.footer{
    position: relative;
    top:100px;
    background-color: var(--black);
    width: 97vw;
    height: 180vh;
    

}
.envie{
    color: var(--branco);
    font-size: 100%;
}
.form_cadastro{
    position: relative;
    left: 10px;
    top:5vh;

}
.form__campo{
    background-color:var(--background-form);
    color: var(--cinzaclaro);
    width: 85vw;
    height: 8vh;
    border-radius: 10px;
    margin-top: 30px;
}
.form__campo_1{
    font-family: "Open Sans";
    color: var(--cinzaclaro);
    font-weight: 400;
    appearance: none;
    background-color: transparent;
    border: transparent;
    position: relative;
    left: 5vh;
    top:8px;
    font-size: 4vh;
    align-items: center;

}
.form__campo_1::placeholder{
    color:var(--cinzaclaro)
    
}
.concluir{
    appearance: none;
    background-color: var(--botão1);
    border: solid 2px var(--botão1);
    border-radius: 20px;
    padding-left: 3px;
    position: relative;
    top: 15px;
    height: 5vh;
    width: 90vw;

} 
.concluir_1 {
   position: relative;
   top: 3px;
   color: var(--branco);
   font-family:" Montserrat";
   font-weight: 700;
   font-size: 20px;
}
.paragrafo span{
    
    color: var(--branco);
    position: relative;
    top:10vh;
    left: 5px;
    font-size: 20px;
    
    
}
.checkbox{
    color: var(--branco);
    font-size: 15px;
    margin-top: 40px;
    margin-left: 5px;
    transform: scale(1.5);
    padding: 10px;
}
.logo{
    position: relative;
    left: 10px;
    top:90px
}